body{
    background-image: linear-gradient(rgba(233, 233, 226, 0.7), rgba(233, 233, 226, 0.7)), url('../img/background.jpg');
    background-position: center;
}
article {
    font-size: 1.25rem;
    color: #16161D;
    margin: 1em auto;
    max-width: 40rem;
    padding: .6rem;
    background-color: rgba(233, 233, 226, 0.7);
}
header {
    margin: 1em auto;
    max-width: 40rem;
}
h1,h2,h3 {line-height: 1.2;}
p {line-height: 1.5;}
.big-summary {
    background-color: #16161D;
    color: #E9E9E2;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1.5rem;
}
.small-power {
    background-color: #16161D;
    color: #E9E9E2;
    font-weight: bold;
    font-size: .85rem;
    cursor: pointer;
    padding: 1rem;
}
emphasis {
    font-weight: bold;
    font-size: 1.26rem;
    color: #16161D;
}
.header{
    line-height: 1.5em;
    font-size: 2.5rem;
}
.red {
    color: #660000;
}
.mb {
    margin-bottom: 2rem;
}
.bb {
    border-bottom: 1px solid #16161D;
}
.pt {
    padding-top: 1rem;
}
.pl {
    padding-left: 1rem;
}
.pr {
    padding-right: 1rem;
}
.center {
    text-align: center;
}
.hidden-link {
    text-decoration: none;
    color: #16161D;
}
.blink-header{
    animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
    0% { color: #16161D; }
    20% { color: #660000; }
    40% { color: #16161D; }
    70% { color: #660000; }
    80% { color: transparent; }
    100% { color: #16161D; }
}
.copyleft {
    display:inline-block;
    transform: rotate(180deg);
}
.fs-small {
    font-size: .75em;
}
.box {
    display: flex;
    justify-content: center;
}
.icon {
    width: auto;
    height: 72px;
}
.inspiration-card {
    max-width: 40rem;
    height: auto;
}