body{
    background-image: linear-gradient(rgba(233, 233, 226, 0.85), rgba(233, 233, 226, 0.85)), url('../img/background.jpg');
    background-attachment: fixed;
    background-position: center;
}
article {
    margin: 1em auto;
    max-width: 40rem;
    padding: 0 .62rem;
    font-size: 1.25rem;
    color: #16161D;
    background-color: rgba(233, 233, 226, 0.5);
}
h1,h2,h3 {line-height: 1.2;}
p {line-height: 1.5;}
.big-summary {
    background-color: #16161D;
    color: #E9E9E2;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1.5rem;
}
.small-power {
    background-color: #16161D;
    color: #E9E9E2;
    font-weight: bold;
    font-size: .85rem;
    cursor: pointer;
    padding: 1rem;
}
emphasis {
    font-weight: bold;
    font-size: 1.26rem;
    color: #16161D;
}
button {

}
.mb {
    margin-bottom: 2.5rem;
}
.bb {
    border-bottom: 1px solid #16161D;
}
.pl {
    padding-left: 1rem;
}
.pr {
    padding-right: 1rem;
}
.center {
    text-align: center;
}
.hidden-link {
    text-decoration: none;
    color: #16161D;
}
.blink{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0% { color: #16161D; }
    20% { color: #660000; }
    40% { color: #16161D; }
    70% { color: #660000; }
    80% { color: transparent; }
    100% { color: #16161D; }
}
.copyleft {
    display:inline-block;
    transform: rotate(180deg);
}
.fs-small {
    font-size: .75em;
}